.left {
  text-align: left;
  height: 100%;
  padding-top: 5px;
}

.right {
  text-align: right;
  margin-top: 5px;
}

.profit {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 25px;
}

.profitButton {
  display: flex;
  align-items: center;
}

.profitlabel {
  margin-right: 15px;
}

ion-grid {
  align-self: baseline;
}

ion-col {
  text-align: center;
}