.titles{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#purchase{
    //something to make that button transparent
}

//properties below taken from portfolio page for unified styling
.outerselect {
    width: 100%;
}
.currencySelect {
    padding-right: 7vw;
    width: 75%;
}
.selectionbar, .header {
    padding: 0 !important;
}