.titles{
    text-align: center;
}

//properties below taken from portfolio page for unified styling
.outerselect {
    width: 100%;
}
.currencySelect {
    padding-right: 7vw;
    width: 75%;
}
.selectionbar, .header {
    padding: 0 !important;
}