<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">T</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let currency of displayedCurrencies" lines="none" class="currencyItem">
      <ion-card button [routerLink]="['./detail/',{currency:currency.short}]" class="currencyCard">
  
          <ion-card-content>
            <ion-title style="overflow: hidden;"> 
              <img src="svgcolor/{{currency.short}}.svg" style=" float:left;">
              <div style="float:left;">
                &nbsp;{{currency.long}}
              </div>
            </ion-title>
          </ion-card-content>

          <div>
            <canvas id="{{currency.short}}" width="400" height="150"></canvas>
          </div>
  
      </ion-card>
    </ion-item>
    
  </ion-list>

</ion-content>
