<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" disabled="false"
    (ionRefresh)="ionViewDidEnter($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header class="header" lines="inset">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button class="outerselect" [style.--padding-start]="0" [style.--padding-end]="0">
              <ion-select class="currencySelect" value="{{fiatCurrencies[0].short}}"
                (ionChange)="updateFiatCurrency($event);">
                <ion-select-option *ngFor="let currency of fiatCurrencies" value="{{currency.short}}">
                  {{currency.short.toUpperCase()}}
                </ion-select-option>
              </ion-select>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="outerselect" [style.--padding-start]="0" [style.--padding-end]="0">
              <ion-select class="currencySelect" value="{{timeframes[0]}}"
                (ionChange)="updateTimeframe($event);">
                <ion-select-option *ngFor="let timeframe of timeframes" value="{{timeframe}}">
                  {{timeframe.toUpperCase()}}
                </ion-select-option>
              </ion-select>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>

    <div>
      <ion-card button *ngFor="let currency of cryptoCurrencies; let i=index" [routerLink]="['./detail/',{currency:currency.short}]" lines="none" id="{{currency.short}}card" class="currencyCard">

        <ion-card-content>
          <ion-title style="overflow: hidden;"> 
            <img src="svgcolor/{{currency.short}}.svg" style=" float:left;">
            <div style="float:left;">
              &nbsp;{{currency.long}}
            </div>
          </ion-title>
        </ion-card-content>

        <div>
          <canvas id="{{currency.short}}" width="400" height="150"></canvas>
        </div>

        <div
          *ngIf="(currencyCards?.get(currency.short)?.latest != undefined); then available else unavailable">
        </div>

        <ng-template #available>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-title>
                      {{currencyCards?.get(currency.short)?.latest.toFixed(2)}} {{selectedFiatCurrency.toUpperCase()}}
                    </ion-title>
                  </ion-col>
                  <ion-col>
                    <ion-title style="display: inline-block;">
                      <div *ngIf="currencyCards?.get(currency.short)?.change > 0" style="float: left;">+</div>
                      {{currencyCards?.get(currency.short)?.change.toFixed(2)}} %
                    </ion-title>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
        </ng-template>

        <ng-template #unavailable>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-title>
                      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </ion-title>
                  </ion-col>
                  <ion-col>
                    <ion-title>
                      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </ion-title>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
        </ng-template>

      </ion-card>
    </div>
    
  </ion-list>

</ion-content>
