.currencyCard {
    padding-left: 0.5em;
    padding-right: 1em;//larger right padding because chart is slightly offset for unknown reason
}



//properties below taken from portfolio page for unified styling
.outerselect {
    width: 100%;
}
.currencySelect {
    padding-right: 7vw;
    width: 75%;
}
.selectionbar, .header {
    padding: 0 !important;
}