.cumulatedTitle {
    text-align: center;
}

.chart {
    padding: 5px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.selectionbar, .header {
    padding: 0 !important;
}

.outerselect {
    width: 100%;
}

.currencySelect {
    padding-right: 7vw;
    width: 75%;
}

.sortSelect {
    width: 75%;
}

.segmentHistory {
    margin: 10px auto -5px auto;
}

.segmentButtons {
    width: 85vw;
}