<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Portfolio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portfolio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" disabled="false"
    (ionRefresh)="selectFiatCurrency({ detail: { value: fiatString.toLowerCase() } }, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <ion-list *ngIf="portfolioList | async as portfolio">

      <ion-list-header class="header" lines="inset">
        <ion-grid class="selectionbar">
          <ion-row>
            <ion-col>
              <div>
                <ion-button class="outerselect" [style.--padding-start]="0" [style.--padding-end]="0">
                  <ion-select class="currencySelect" value="{{currencyList[0].short}}"
                    (ionChange)="selectFiatCurrency($event);">
                    <ion-select-option *ngFor="let currency of currencyList" value="{{currency.short}}">
                      {{currency.short.toUpperCase()}}
                    </ion-select-option>
                  </ion-select>
                </ion-button>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-button class="outerselect" [style.--padding-start]="0" [style.--padding-end]="0">
                  <ion-select class="sortSelect" value="{{sortingOption[0].id}}" (ionChange)="selectSorting($event);">
                    <ion-select-option *ngFor="let option of sortingOption" value="{{option.id}}">
                      {{option.designation}}
                    </ion-select-option>
                  </ion-select>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list-header>

      <ion-item>
        <ion-grid>
          <ion-row>
            <div class="segmentHistory">
              <ion-segment class="segmentButtons" [value]="sectionValue" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="current">
                  <ion-label>Current</ion-label>
                </ion-segment-button>
                <ion-segment-button value="history">
                  <ion-label>History</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>
          </ion-row>

          <ion-row>

            <div class="chart">
              <div *ngIf="accumulatedValue; then displayvalue else displayskeleton">
              </div>

              <ng-template #displayvalue>
                <h3 *ngIf="accumulatedValue" class="cumulatedTitle">
                  {{accumulatedValue.toFixed(2)}}
                  {{this.fiatString.toUpperCase()}}
                </h3>
              </ng-template>


              <ng-template #displayskeleton>
                <h3>
                  <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
                </h3>
              </ng-template>

              <div>
                <app-chart-current [fiatString]="fiatString" [fiatExchange]=fiatExchange #currentChart>
                </app-chart-current>
                <app-chart-history [fiatString]="fiatString" [fiatExchange]=fiatExchange #historyChart>
                </app-chart-history>
              </div>
            </div>
          </ion-row>
        </ion-grid>
      </ion-item>

      <div>
        <ion-card *ngFor="let entry of portfolio.positions">
          <ion-item lines="none">
            <img slot="start" src="svgcolor/{{entry.id}}.svg">

            <div
              *ngIf="(calculateValueString(entry.id, entry.amount) !== '') || (entry.id === fiatString.toLowerCase()); then displayboth else displayone">
            </div>

            <ng-template #displayboth>
              <ion-label>{{entry.amount.toFixed(2)}} {{entry.id.toUpperCase()}} </ion-label>
              <div *ngIf="entry.id !== fiatString">
                <ion-label slot="end"> {{calculateValueString(entry.id, entry.amount)}} </ion-label>
              </div>
            </ng-template>

            <ng-template #displayone>
              <ion-label>{{entry.amount.toFixed(2)}} {{entry.id.toUpperCase()}} </ion-label>
              <ion-label slot="end">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </ion-label>
            </ng-template>

          </ion-item>
        </ion-card>
      </div>
    </ion-list>
  </div>

</ion-content>